canvas {
    border: solid black 2px;
}

.hero {
    width: 100vw;
    height: 70vh;
    background: url("../../images/home.jpg") no-repeat fixed center;
    background-size: cover;
}

input[name='result'] {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}